video,
canvas {
  left: 0;
  top: 0;
  position: absolute;
}

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(#182b42, #4e1e7b);
}

.body {
  position: relative;
  margin: 60vh auto;
  width: 30vh;
  height: 30vh;
}

.tummy {
  position: absolute;
  width: 30vh;
  height: 30vh;
}

.tummy:after {
  content: "";
  position: absolute;
  width: 30vh;
  height: 30vh;
  background-color: #61e2e1;
  border-radius: 50%;
  box-shadow: inset -20px -10px 18px #2ed8d7;
  z-index: 99999;
}

.head {
  left: 4%;
  top: -34%;
  position: absolute;
  width: 28vh;
  height: 28vh;
  background-color: #6ee4e3;
  border-radius: 50%;
  overflow: hidden;
}

.arm:nth-of-type(1) {
  left: 0%;
  top: 4%;
  position: absolute;
  width: 7vh;
  height: 19vh;
  transform: rotate(-123deg);
  background-color: #36dad8;
  box-shadow: inset -19px 8px 28px #83e8e7;
  border-radius: 50%;
  z-index: -1;
}

.arm:nth-of-type(2) {
  right: 0%;
  top: 4%;
  position: absolute;
  width: 7vh;
  height: 19vh;
  transform: rotate(-123deg);
  background-color: #36dad8;
  box-shadow: inset 13px 20px 28px #25c7c6;
  border-radius: 50%;
  z-index: -2;
}

.leg:nth-child(1) {
  right: 9%;
  bottom: -6%;
  position: absolute;
  width: 9vh;
  height: 19vh;
  transform: rotate(-2deg);
  background-color: #27d0ce;
  box-shadow: inset 13px 20px 28px #25c7c6;
  border-radius: 50%;
  z-index: -1;
}

.leg:nth-child(2) {
  left: 4%;
  bottom: -6%;
  position: absolute;
  width: 9vh;
  height: 19vh;
  transform: rotate(-2deg);
  background-color: #36dad8;
  box-shadow: inset 13px 20px 28px #99eceb;
  border-radius: 50%;
  z-index: -1;
}

.eye {
  position: absolute;
  width: 3vh;
  height: 3vh;
  border-radius: 50%;
  background-color: #020004;
  top: 54%;
  z-index: 1;
}

.eye:nth-of-type(1) {
  left: 18%;
}

.eye:nth-of-type(2) {
  right: 18%;
}

.blush {
  position: absolute;
  width: 1vh;
  height: 0.5vh;
  border-radius: 50%;
  background-color: #d9acc1 b8;
  box-shadow: 0px 0px 14px 8px #d9acc1 b8;
  top: 67%;
  z-index: 0;
}

.blush:nth-of-type(3) {
  left: 16%;
}

.blush:nth-of-type(4) {
  right: 16%;
}

.shadow {
  position: absolute;
  width: 25vh;
  height: 2vh;
  bottom: -15%;
  left: 8%;
  border-radius: 50%;
  background-color: #341452;
  box-shadow: 0px 0px 20px 15px #341452;
  z-index: -2;
}